
.grupo-form {
	background-color: rgba(180, 180, 180, 0.323);
	height: auto !important;
	min-height: 40px !important;
}

.etiqueta-form, .control-form {
	height: auto !important;
	min-height: 30px !important;
}

.control-form {
	background-color: black !important;
	color: white !important;
	border: 0 !important;
}

.mensaje-error {
	color: wheat;
	line-height: 45px;
}

[aria-invalid = "true"] {
	outline: 2px solid rgba(255, 0, 0, 0.321);
}

[aria-invalid = "false"] ~ .mensaje-error {
	visibility: hidden;
}

[aria-invalid = "true"] ~ .mensaje-error {
	visibility: visible;
}
