
.item-tarjeta {
	width: 14rem;
	margin: 10px 10px;
	background-color: black !important;
	border: 1px solid white !important;
}

.titulo {
	color: white !important;
	font-size: 3rem !important;
}

button {
	background-color: black !important;
	border: 1px solid white !important;
	color: rgb(192,140,57) !important;
}
