
.div-home {
	margin-top: 100px;
	background-color: black;
	min-height: 900px;
}

h1 {
	color: rgb(149, 127, 103);
}

p {
	font-size: 20px;
}

/*==================================*/
/*	Animación vaso de cerveza
/*==================================*/
.beer-glass-img:hover {
	transform: scale(1.2);
	overflow: hidden;
	transition: all 1s;
}

.color-dark-glass-animate .beer-glass-img {
  overflow: hidden;
  transition: all 1.2s;
}

.color-dark-glass-animate:hover .beer-glass-img {
  transform: scale(1.2);
  overflow: hidden;
  transition: all 1s;
}

/*==================================*/
/*	Ver catálogo
/*==================================*/

.div-ver-todas {
	color: rgb(192,140,57) !important;
	border: 1px solid white !important;
	padding: 15px 15px !important;
	font-size: large !important;
	text-align: center !important;
}
