
/***********************************/
/*			General
/***********************************/

.div-admin {
	margin-top: 100px !important;
	background-color: black;
	min-height: 900px;
}

button:hover, i:hover {
	color: white !important;
}

/***********************************/
/*		Tabla en formulario
/***********************************/

#tabla-items {
	table-layout: fixed;
}

#tabla-items td {
	overflow: clip;
}

.formulario-tabla th {
	background-color: rgba(180, 180, 180, 0.323) !important;
	border: thin solid !important;
	border-color: gray !important;
}

.formulario-tabla td {
	border-color: gray !important;
}
