
.item-tarjeta {
	width: 12rem !important;
	margin: 10px 10px;
	background-color: black !important;
	border: 1px solid gray !important;
}

button {
	background-color: black !important;
	border: 1px solid white !important;
	color: rgb(192,140,57) !important;
}

.titulo-item {
	color: white !important;
	font-size: 1.5rem !important;
}

.texto-item {
	color: white !important;
	font-size: 1rem !important;
}


.div-widget-cantidad {
	position: relative;
	top: -30px;
	left: 125px;
	display: inline-block;
}

.span-insignia-cantidad {
	position: absolute;
	background: red;
	text-align: center;
	border-radius: 20px 20px 20px 20px !important;
	color: white;
}

/**********************************/

.sombra-item:hover {
	box-shadow:
		5px 5px 5px 5px gray;
	border-color: wheat !important;
}
